# Don't track images due to file size
/images/output/
/images/source/

# Ignore the .ipynb_checkpoints folder created by Jupyter
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Virtual environment folders
/venv
/env
.venv

# Package installer/build files
*.egg-info/
dist/
build/

Ignore large saved models
*.pkl
*.h5
*.onnx
*.pth

.vscode/